@charset "UTF-8";

/* Motorola Solutions Locale: ZH */

h1,h2,h3,h4,h5 {
	font-family: 'Arial, Helvetica, sans-serif';
	font-weight: bold;
	margin-bottom: 5px;
}
.primarynav > li > a {
	font-size: 13px;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: none;
	top: 15px;
}
.primarynav > li {
	font-size: 13px;
}
.primarynav .primarynav-column-title p {
	font-weight: bold;
	font-size: 18px;
}
.primarynav .primarynav-column li a {
	font-size: 13px;
	font-weight: normal;
}
.primarynav-gutter li a {
	font-weight: normal;
}
.header-links a {
	font-size: 13px;
	font-weight: normal;
}
.primarynav > li.primarynav-search ul {
	width: 311px;	
}
.primarynav > li.primarynav-search input {
	width: 90%;
}

.brandstory-box h1, .brandstory-box h2, .brandstory-box h3, .brandstory-box h4, .brandstory-box h5, .brandstory-box h6  {
	font-family:'Arial, Helvetica, sans-serif';
	font-weight: normal;
}
.brandstory-home-cta h2 {
	font-weight: normal;
}

/* Brandstory Box: Line Heights */
.brandstory-box h1 { font-size: 48px; line-height: 54px; letter-spacing: -2px; }
.brandstory-box h2 { font-size: 40px; line-height: 44px; letter-spacing: -1px; }
.brandstory-box h3 { font-size: 32px; line-height: 34px; letter-spacing: -1px; }
.brandstory-box h4 { font-size: 25px; line-height: 27px; }
.brandstory-box h5 { font-size: 20px; line-height: 22px; }
.brandstory-box h6 { font-size: 16px; line-height: 18px; }

.brandstory-landing-links li {
	font-family:'Arial, Helvetica, sans-serif';
	font-weight: normal;
}
.brandstory-landing-icon-arrow {
	font-family:'Arial, Helvetica, sans-serif';
	font-weight: normal;
}

/* Content */
.category-list li {
	font-weight: normal;
}
.content-photo-list-item-text-title {
	font-weight: normal;	
}
.content-photo-list-item-text-desc {
	font-weight: normal;
}

