@charset "UTF-8";

/* Motorola Solutions Locale: JA */

@font-face{
font-family:"HeiseiKakuGothic";
	src:url("fonts/ja/5a4f7b58-da8f-40b2-8e7f-4a4cb743af6f.eot");
	src:url("fonts/ja/5a4f7b58-da8f-40b2-8e7f-4a4cb743af6f.eot?#iefix") format("eot"),
	url("fonts/ja/62813062-fc56-4167-8b42-75ddf00e6fa5.woff") format("woff"),
	url("fonts/ja/e870ea14-00b7-4453-acbe-8b0d883233fa.ttf") format("truetype"),
	url("fonts/ja/c31dd26b-0342-4dad-b34b-443e97337339.svg#c31dd26b-0342-4dad-b34b-443e97337339") format("svg");
}

h1,h2,h3,h4,h5,h6 {
font-family:'HeiseiKakuGothic';	
}

.header-links a {
	font-weight: normal;
}
.primarynav > li {
	font-size: 13px;
}
.primarynav > li > a {
	font-weight: bold;
	font-size: 13px;
	line-height: 12px;
	text-transform: uppercase;
	top: 17px;
}
.primarynav .primarynav-column-container .primarynav-column li a {
	font-size: 13px;
	font-weight: normal;	
}
.primarynav .primarynav-gutter li a {
	font-weight: normal;	
}
.primarynav > li.primarynav-search ul {
	width: 245px;
}
.primarynav .primarynav-column-title p {
	font-weight: bold;
	font-size: 18px; 
}

.brandstory-box h1, .brandstory-box h2, .brandstory-box h3, .brandstory-box h4, .brandstory-box h5, .brandstory-box h6  {
	font-family:'HeiseiKakuGothic';
	font-weight: normal;
}
.brandstory-home-cta h2 {
	font-weight: normal;
}

/* Brandstory Box: Line Heights */
.brandstory-box h1 { font-size: 48px; line-height: 54px; letter-spacing: -2px; }
.brandstory-box h2 { font-size: 40px; line-height: 44px; letter-spacing: -1px; }
.brandstory-box h3 { font-size: 32px; line-height: 34px; letter-spacing: -1px; }
.brandstory-box h4 { font-size: 25px; line-height: 27px; }
.brandstory-box h5 { font-size: 20px; line-height: 22px; }
.brandstory-box h6 { font-size: 16px; line-height: 18px; }

.brandstory-landing-links li {
	font-family:'Arial';
	font-weight: normal;
}
.brandstory-landing-icon-arrow {
	font-family: 'Arial';
	font-weight: normal;
}

/* Content */
.category-list li {
	font-weight: normal;
}
.content-photo-list-item-text-title {
	font-weight: normal;	
}
.content-photo-list-item-text-desc {
	font-weight: normal;
}

/* Aside */
.aside-box-list-title {
	font-weight: normal;
}
.aside-box-content-title-gray {
	font-weight: normal;
}
.aside-nav-list li {
	font-weight: normal;
}
.aside-box-tweets ul li a.aside-box-tweets-name {
	font-weight: normal;	
}
.aside-box-tweets ul li div.aside-box-tweets-post {
	font-weight: normal;
}
.aside-box-video li a.aside-box-video-title {
	font-weight: normal;
}
.aside-box-tweets ul li a.aside-box-tweets-name {
	font-weight: normal;
}
.aside-box-content-slide span {
	font-weight: normal;
}